doctype html
html
	head
		title= title
		block stylesheets
			link(rel='stylesheet', href='../../css/bootstrap.min.css')
			link(rel='stylesheet', href="../../font-awesome/css/font-awesome.min.css")
		block jscripts
			script(src="../../js/jquery.min.js")
	body
		block content
		block footer
