extends layout

append stylesheets
	link(rel='stylesheet' href="../../css/style.css")

block content
	.container
		.row
			.col-xs-12.col-sm-8.col-md-6.col-sm-offset-2.col-md-offset-3
				form(action="/signup" method="post")#signUpForm
					h2 Sign Up 
					.colorgraph
					.blank
					.form-group
						.input-group
							span.input-group-addon
								i.glyphicon.glyphicon-user
							input.form-control.input-lg(type="text" name="username" placeholder="Username")#username
					.form-group
						.input-group
							span.input-group-addon
								i.glyphicon.glyphicon-envelope
							input.form-control.input-lg(type="email" name="email" placeholder="Email")#email
					.form-group
						.input-group
							span.input-group-addon
								i.glyphicon.glyphicon-lock
							input.form-control.input-lg(type="password" name="password" placeholder="Password")#password
					.form-group
						.input-group
							span.input-group-addon
								i.glyphicon.glyphicon-lock
							input.form-control.input-lg(type="password" name="password_confirmation" placeholder="Confirm Password")#password_confirmation
					.form-group
						.checkbox
							label 
								input(type="checkbox" name="check")#check
								p Check this to receive professional consulting services from WholeRen
					.colorgraph
					.blank
					.row
						.col-xs-12.col-md-6
							input.btn.btn-primary.btn-block.btn-lg(type="submit", value="Register")#registration_btn
							br
						.col-xs-12.col-md-6
							a(href="/").btn.btn-danger.btn-block.btn-lg Cancel
				hr
				a(href="/login") Already a current user? Go to login page

append footer
	script(src="../../js/jquery.validate.min.js")
	script(src="../../js/userinfo.js")
