<section class="contract-list" style="position:inherit;width:100%">

<header>
    <h1 class="title">{{title}}</h1>
    <section class="page-actions" style="float:right">
        {{#if options.deleted}}
        <input type="checkbox" id="deleted" ></input>
        <label style="padding-right:20px">已删除的</label>        
        {{/if}}
        {{#if options.date}}
        <label>Start Date</label><input id="startDate" value=""></input>
        <label>End Date</label><input id="endDate"></input>
        <button class="button-alt" >刷新</button>
        <button class="button-save" >SAVE</button>
        {{/if}}
        {{#if options.month}}
        <label>Year</label><input id="year" value="2015"></input>
        <label>Month</label><input id="month" value="6"></input>
        <button class="button-alt" >刷新</button>
        <button class="button-save" >SAVE</button>
        {{/if}}
    </section>
</header>
<section class="content".>
    <div><label>Total Count: </label>
        <strong><div id="count"></div></strong></div>
        
<div class="table-wrapper">
    <!--<div class="scrollable">
        
    </div>
    <div class="pinned"><table class="Contracts">
        <tbody><tr id="pinnedheader" style="height: 39px;">
        <th class="sortable" data-attr='client.chineseName'>学生中文名</th>        
              
    </tr> </tbody></table></div>-->

</div>

    <div class="app"></div>
</section>

</section>