<section class="content-preview" style="position:inherit;width:100%">

<header>
    <h2 class="title">Keyword Reply</h2>
</header>
<section class="content">
    <table class="keywords responsive">
        <tbody><tr id="header"><th>Keyword</th><th>Regular Reply Type</th><th>Regular Reply Title</th><th>Premium Reply Type</th><th>Premium Reply Title</th><th>Delete</th></tr><tr id="#3"><td>testkeyword2</td><td><button name="#3" class="regular">news</button></td><td>test regular reply2</td><td><button name="#3" class="member">NONE</button></td><td>NONE</td><td><a href="http://localhost:1600/admin/settings/keywordreply/#3"><img src="./Ghost Admin_files/red-delete-button.jpg" class="remove" width="50"></a></td></tr>
        <tr id="#2"><td>testkeyword1</td><td><button name="#2" class="regular">text</button></td><td>test regular reply1</td><td><button name="#2" class="member">NONE</button></td><td>NONE</td><td><a href="http://localhost:1600/admin/settings/keywordreply/#2"><img src="./Ghost Admin_files/red-delete-button.jpg" class="remove" width="50"></a></td></tr>
        
       
    </tbody></table>
    <div class="app"></div>
</section>

</section>