<section class="contract-list" style="position:inherit;width:100%">

<header>
    <h1 class="title">Contracts</h1>
    <section class="page-actions" style="float:right">
        <button class="button-add">Add New</button>
        <button class="button-filter" >Filter</button>
    </section>
</header>
<section class="content">
<div class="table-wrapper">
    <div class="scrollable">
        <table class="Contracts responsive">
        <tbody><tr id="scrollableheader">
        <th class="sortable" data-attr='client.chineseName'>学生中文名</th>
        <th class="sortable" data-attr='client.firstName'>First Name</th>
        <th class="sortable" data-attr='client.lastName'>Last Name</th>
        <th>年龄</th>
        <th>Email</th>
        <th>电话</th>
        <th>其他联系</th>
        <th class="sortable" data-attr='contractCategory'>咨询服务类别</th>
        <th class="sortable" data-attr='createdAt'>首次咨询日期</th>
        <th class="sortable" data-attr='lead'>Lead种类</th>
        <th class="sortable" data-attr='leadName'>Lead介绍人</th>
        <th class="sortable" data-attr='leadLevel'>LeadLevel</th>
        <th class="sortable" data-attr='status'>签约状态</th>
        <th>前期助理</th>
        <th class="sortable" data-attr='sales.nickname'>销售顾问</th>
        <th class="sortable" data-attr='expert.nickname'>专家</th>
        <th>求助原文</th>        
        <th>销售跟进记录</th>
        <th>销售跟进摘要</th>
        <th class="sortable" data-attr='expert.nickname'>专家咨询日期</th>
        <th>专家建议</th>
        <th class="sortable" data-attr='country.country'>当前所在地</th>
        <th class="sortable" data-attr='validI20'>I-20有效</th>
        <th>原学校</th>
        <th>目标学校</th>
        <th class="sortable" data-attr='gpa'>GPA</th>
        <th class="sortable" data-attr='toefl'>TOEFL</th>
        <th>其他成绩</th>
        <th class="sortable" data-attr='degree.degree'>就读学位</th>
        <th class="sortable" data-attr='major'>就读专业</th>
        <th>何弃疗</th>
        <th class="sortable" data-attr='contractSigned'>签约日</th>
        <th class="sortable" data-attr='contractPaid'>付款日</th>
        <th>转学服务</th>
        <th>紧急服务</th>
        <th>学术服务</th>
        <th>签证服务</th>
        <th class="sortable" data-attr='contractPrice'>签约价格</th>
        <th>签约价明细</th> 
        <th class="sortable" data-attr='applicationFeePaid'>$150申请费</th>
        <th class="sortable" data-attr='paymentOption.paymentOption'>付款方式</th>
        <th class="sortable" data-attr='endFee'>是否收尾款</th>
        <th class="sortable" data-attr='teacher.nickname'>服务老师</th>
        <th>Comments</th>
        <th></th>

              
    </tr>
    
    </tbody></table>
    </div><div class="pinned"><table class="Contracts">
        <tbody><tr id="pinnedheader" style="height: 39px;">
        <th class="sortable" data-attr='client.chineseName'>学生中文名</th>        
              
    </tr> </tbody></table></div></div>

    <div class="app"></div>
</section>

</section>