<section class="contract-list" style="position:inherit;width:100%">

<header>
    <h1 class="title">Services</h1>
    <section class="page-actions" style="float:right">
        <label>Start Date</label><input id="startDate" value="09-01-2014"></input>
        <label>End Date</label><input id="endDate"></input>
        <button class="button-alt" >刷新</button>
    </section>
</header>
<section class="content".>
<div class="table-wrapper">
    <div class="scrollable">
        <table class="Contracts responsive">
        <tbody><tr id="scrollableheader">
        <th class="sortable" data-attr='client.chineseName'>学生中文名</th>
        <th class="sortable" data-attr='client.firstName'>First Name</th>
        <th>Last Name</th>
        <th>服务状态</th>
        <th class="sortable" data-attr='serviceType.serviceType'>服务类型</th>
        <th class="sortable" data-attr='contract.createdAt'>进入服务时间</th>
        <th>新开发？</th>
        <th>录取</th>
        <th>所申学校</th>
        <th class="sortable" data-attr="studentDestination">学生去向</th>
        <th>申请入读学期</th>
        <th>文书</th>
        <th>学生情况 </th>
        <th>Step1</th>
        <th>Step2</th>
        <th>负责老师</th>
        <th>Comments</th>
        <th></th>
    </tr>
    
    </tbody></table>
    </div>
    <!--<div class="pinned"><table class="Contracts">
        <tbody><tr id="pinnedheader" style="height: 39px;">
        <th class="sortable" data-attr='client.chineseName'>学生中文名</th>        
              
    </tr> </tbody></table></div>-->

</div>

    <div class="app"></div>
</section>

</section>