<section class="contract-list" style="position:inherit;width:100%">

<header>
    <h1 class="title">Users</h1>
    <section class="page-actions" style="float:right">
        
    </section>
</header>
<section class="content".>
<div class="table-wrapper">
    <div class="scrollable">
        <table class="Contracts responsive">
        <tbody><tr id="scrollerfirst">
        <th class="sortable" data-attr='nickname'>Nickname</th>
        <th class="sortable" data-attr='firstname'>First Name</th>
        <th class="sortable" data-attr='lastname'>Last Name</th>
        <th class="sortable" data-attr='email'>Email Address</th>
        <th class="sortable" data-attr='role.role'>Role</th>
        <th> Level</th>
        <th> Rank</th>
        <th class="sortable" data-attr='boss.nickname'>BOSS</th>
        <th class="sortable" data-attr="active">Active</th>
    </tr>
    
    </tbody></table>
    </div>
</div>

    <div class="app"></div>
</section>

</section>