

  <div class="bbm-modal__topbar">
    <h3 class="bbm-modal__title">Comments(按回车)</h3>
</div>
<div class="bbm-modal__section">
	<div id="todoapp">

    <header>
      <input id="new-todo" type="text" placeholder="Comments">
    </header>

    <section id="main" style="display: block;">
      <ul id="todo-list"></ul>
    </section>

  </div>
    </div>
<div class="bbm-modal__bottombar">
    <a href="#" class="bbm-button cancel">Close</a>
</div>