<div id="todoapp">

    <header>
      <h1>Comments</h1>
      <input id="new-todo" type="text" placeholder="Comments">
    </header>

    <section id="main" style="display: none;">
      <ul id="todo-list"></ul>
    </section>

  </div>