<div class="bbm-modal__topbar">
    <h3 class="bbm-modal__title">Edit</h3>
</div>
<div class="bbm-modal__section">
    </div>
<div class="bbm-modal__bottombar">
    <a href="#" class="bbm-button cancel">Close</a>
    <a href="#" class="bbm-button ok">OK</a>
</div>

